* {
	box-sizing: border-box;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	min-height: 100vh;
}

.container form {
	padding: 20px;
	width: 700px;
	background: #fff;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
		rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
		rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
	border-radius: 0.5rem;
}

.container form .row {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.container form .row .col {
	flex: 1 1 250px;
}

.container form .row .col .title {
	font-size: 20px;
	color: #333;
	padding-bottom: 5px;
	text-transform: uppercase;
}

.container form .row .col .inputBox {
	margin: 15px 0;
}

.container form .row .col .inputBox span {
	margin-bottom: 10px;
	display: block;
}

.container form .row .col .inputBox input {
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px 15px;
	font-size: 15px;
	text-transform: none;
}

.container form .row .col .inputBox input:focus {
	border: 1px solid #000;
}

.container form .row .col .flex {
	display: flex;
	gap: 15px;
}

.container form .row .col .flex .inputBox {
	margin-top: 5px;
}

.container form .row .col .inputBox img {
	height: 34px;
	margin-top: 5px;
	filter: drop-shadow(0 0 1px #000);
}
#Cancle_payment,
.container form .submit-btn {
	padding: 12px;
	font-size: 17px;
	background: orange;
	color: #fff;
	margin-top: 5px;
	cursor: pointer;
	border: none;
	border-radius: 0.5rem;
}
#Cancle_payment {
	background: rgb(252, 83, 83);
}
.loader {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #fb641b;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
	margin: 0 auto;
	margin-top: 20px;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
