* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* text-align: center; */
  /* align-items: center; */
  font-family: "Ubuntu", sans-serif;
}
#navbar {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  border-color: rgb(222, 218, 218);
  background-color: rgb(243, 241, 239);
  text-align: center;
  align-items: center;
}
#navbar > div {
  width: 30%;
  display: flex;
}
#left > a {
  text-decoration: none;
  margin-left: 12px;
}
#left > a :hover {
  color: black;
}
#left > a > h3 {
  font-size: 14px;
  color: rgb(120, 120, 120);
}
#left > :nth-child(3) {
  background-color: rgb(159, 158, 158);
  padding: 2px;
}
#left > :nth-child(3) > h3 {
  color: white;
}

#left > :nth-child(3) :hover {
  background-color: rgb(69, 68, 68);
  padding: 2px;
}
#right {
  display: flex;
  padding: 4px;
  justify-content: flex-end;
}
#right > :nth-child(4) {
  width: 40px;
}
#right > a {
  width: 82px;
  text-decoration: none;
  display: flex;
  color: rgb(120, 120, 120);
  align-items: center;
}
#right > a > img {
  display: inline;
  width: 29%;
}
#right > :nth-child(4) > img {
  width: 100%;
}
#mid > p {
  width: 100%;
  color: rgb(104, 105, 105);
}
#right > a > p {
  display: inline;
}
#right > a:hover {
  text-decoration: underline;
}

#heading {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  border-color: rgb(222, 218, 218);
  position: sticky;
  top: 0%;
  background-color: white;
  align-items: center;
}
#heading > :nth-child(1) {
  width: 13%;
}
#heading > :nth-child(1) > img {
  width: 100%;
  height: 100px;
}

#heading > :nth-child(2) {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

#heading > :nth-child(2) > div > a {
  text-decoration: none;
  color: black;
}

#heading > :nth-child(3) {
  display: flex;
  border: 1px solid;
  width: 295px;
  /* padding: 12px; */
  border-radius: 40px;
  height: 50px;
}
#heading > :nth-child(3) > button > img {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 40px;
}
#heading > :nth-child(3) > button {
  width: 20%;
  height: 100%;
  border: none;
  background-color: white;
  border-radius: 40px;
}
#heading > :nth-child(3) > input {
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 40px;
  text-align: center;
}

#mid_Section > :nth-child(1) {
  padding: 10px;
  border-bottom: 2px solid rgb(1, 129, 248);
  background-color: rgb(248, 241, 241);
  text-align: center;
}
#mid_Section > :nth-child(1) > a {
  text-decoration: none;
  color: rgb(2, 151, 249);
}
#mid_Section > :nth-child(1) > a :hover {
  text-decoration: underline;
  color: rgb(2, 151, 249);
}
.page {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}
.page > a {
  color: black;
  margin-left: 12px;
  font-size: 12px;
}
.page > p {
  color: black;
  margin-left: 12px;
  font-size: 12px;
}

#body_section {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
#imag {
  margin-left: 100px;
  width: 40%;
  /* align-items: center; */
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 12px;
}
#imag > img {
  width: 80%;
  height: 80%;
}
#details {
  margin-right: 20px;
  border: 2px solid;
  width: 40%;
  align-items: center;
}
#details > h1 {
  margin-top: 20px;
  margin-bottom: 42px;
  margin-left: 12px;
}
#details > h2 {
  margin: 12px;
}
#details > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
#details > div > p {
  margin: 12px;
  border: 2px solid;
  padding: 12px;
  background-color: rgb(186, 19, 164);
}
#details > button {
  margin-left: 162px;
  margin-top: 100px;
  border: 2px solid;
  padding: 7px 92px;
  border-radius: 5px;
  background-color: rgb(34, 109, 201);
  border: none;
}
#details > button:hover {
  background-color: black;
  color: white;
}

#button {
  text-align: center;
  align-items: center;
  padding: 20px;
}
#button > button {
  width: 24%;
  padding: 10px;
  font-weight: bold;
  background-color: rgb(0, 162, 255);
  border-radius: 5px;
  border: none;
}

#bottom_section {
  border-top: 1px solid;
  margin-top: 40px;
}

#bottom_section > :nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#bottom_section > :nth-child(1) > :nth-child(1) {
  display: flex;
  align-items: flex-start;
  width: 40%;
  justify-content: space-around;
  padding: 12px;
  color: rgb(45, 44, 44);
}
#bottom_section > :nth-child(1) > :nth-child(1) > div > a {
  text-decoration: none;
  color: rgb(122, 119, 119);
}
#bottom_section > :nth-child(1) > :nth-child(1) > div > a :hover {
  text-decoration: underline;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services > :nth-child(1) {
  padding: 50px;
}
.services > :nth-child(1) > div {
  display: flex;
  margin: 30px;
}
.button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
}
.button > img {
  width: 25px;
  height: 37px;
}
.searchbar {
  width: 352px;
  height: 40px;
  /* margin: 5px; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

.logo > a > img {
  width: 35px;
}
.services > :nth-child(2) > :nth-child(1) {
  display: flex;
  margin-left: 250px;
}
.logo {
  padding: 3px;
  margin: 5px;
  border-radius: 30px;
  background-color: rgb(191, 191, 191);
}
.logo:hover {
  /* padding: 4px; */
  /* margin: 12px; */
  border-radius: 33px;
  background-color: rgb(0, 178, 248);
}
.services > :nth-child(2) > p {
  margin-left: 220px;
}

.links {
  display: flex;
  margin-left: 320px;
}
.links > a {
  color: rgb(136, 135, 135);
  font-size: 10.7px;
  margin-left: 2px;
}
.links > a:hover {
  color: rgb(56, 56, 56);
}
#bottom_section > :nth-child(2) {
  font-size: 12px;
  margin-top: 200px;
  border-bottom: 1px solid;
  padding-bottom: 35px;
  border-color: rgb(176, 176, 176);
  background-color: rgb(245, 245, 245);
}
#bottom_section > :nth-child(2) > :nth-child(1) {
  margin-left: 1070px;
}
.about {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 11px;
}
