
/* write style here */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-align: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}
#navbar {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  border-color: rgb(222, 218, 218);
  background-color: rgb(243, 241, 239);
}
#navbar > div {
  width: 30%;
  display: flex;
}
#left > a {
  text-decoration: none;
  margin-left: 12px;
}
#left > a :hover {
  color: black;
}
#left > a > h3 {
  font-size: 14px;
  color: rgb(120, 120, 120);
}
#left > :nth-child(3) {
  background-color: rgb(159, 158, 158);
  padding: 2px;
}
#left > :nth-child(3) > h3 {
  color: white;
}

#left > :nth-child(3) :hover {
  background-color: rgb(69, 68, 68);
  padding: 2px;
}
#right {
  display: flex;
  padding: 4px;
  justify-content: flex-end;
}
#right > :nth-child(4) {
  width: 40px;
}
#right > a {
  width: 82px;
  text-decoration: none;
  display: flex;
  color: rgb(120, 120, 120);
}
#right > a > img {
  display: inline;
  width: 29%;
}
#right > :nth-child(4) > img {
  width: 100%;
}
#mid > p {
  width: 100%;
  color: rgb(104, 105, 105);
}
#right > a > p {
  display: inline;
}
#right > a:hover {
  text-decoration: underline;
}

#heading {
  padding-left: 20px;
  padding-right: 20px;

  border: 1px solid;
  display: flex;
  justify-content: space-between;
  border-color: rgb(222, 218, 218);
  position: sticky;
  top:0%;
  background-color: white;

}
#heading > :nth-child(1) {
  width: 13%;
}
#heading > :nth-child(1) > img {
  width: 100%;
  height: 100px;
}

#heading > :nth-child(2) {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

#heading > :nth-child(2) > div > a {
  text-decoration: none;
  color: black;
}

#heading > :nth-child(3) {
  display: flex;
  border: 1px solid;
  width: 295px;
  /* padding: 12px; */
  border-radius: 40px;
  height: 50px;
}
#heading > :nth-child(3)>button>img {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 40px;
}
#heading > :nth-child(3)>button {
  width: 20%;
  height: 100%;
 border: none;
 background-color: white;
 border-radius: 40px;
}
#heading > :nth-child(3)>input {
  width: 90%;
  height: 100%;
 border: none;
 border-radius: 40px;

}



#mid_Section > :nth-child(1) {
  padding: 10px;
  border-bottom: 2px solid rgb(1, 129, 248);
  background-color: rgb(248, 241, 241);
}
#mid_Section > :nth-child(1) > a {
  text-decoration: none;
  color: black;
}
#mid_Section > :nth-child(1) > a :hover {
  text-decoration: underline;
  color: black;
}

#mid_Section > :nth-child(2) {
  padding: 12px;
  background-color: rgb(242, 165, 178);
  color: white;
}
#mid_Section > :nth-child(3) {
  margin-top: 12px;
  border-bottom: 4px solid rgb(146, 143, 143);
  border-top: 4px solid rgb(146, 143, 143);
}

#mid_Section > :nth-child(3) > img {
  width: 100%;
}

#product_type {
  /* border: 2px solid; */
  padding: 5px;
}
#product_type > :nth-child(1) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: auto;
  padding: 2px;
  gap: 12px;
}
#product_type > :nth-child(1) > a {
  border: 1px solid;
  /* margin: auto; */
  /* width: 16%; */
  padding: 12px;
  text-decoration: none;
  color: rgb(82, 80, 80);
  border-radius: 8px;
}
#product_type > :nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 80px;
}

#product_type > :nth-child(2) > div > img {
  width: 100%;
}
#product_type > :nth-child(2) > div > a {
  color: rgb(5, 43, 111);
}
#mid_Section > :nth-child(5) {
  margin-top: 50px;
  margin-bottom: 20px;
}
#mid_Section > :nth-child(5) > img {
  width: 100%;
}
#mid_Section > :nth-child(6) > img {
  width: 100%;
}
#mid_Section > :nth-child(7) {
  background-color: #cc0000;
  padding: 20px;
  margin-top: 25px;
  color: white;
}
#mid_Section > :nth-child(8) {
  height: 400px;
  background-image: url("/day2/car_desktop_022123_slot5.jpg");
  background-size: 100% 100%;
  display: flex;
  margin-top: 12px;
}
#mid_Section > :nth-child(8) > div {
  width: 30%;
  margin-left: 50px;
  padding: 40px;
}
#mid_Section > :nth-child(8) > div > a {
  text-decoration: none;
}
#mid_Section > :nth-child(8) > div > a :hover {
  text-decoration: underline;
}
#mid_Section > :nth-child(8) > div > a > h1 {
  color: rgb(0, 123, 255);
}
#mid_Section > :nth-child(8) > div > a > h3 {
  color: rgb(0, 123, 255);
}
#mid_Section > :nth-child(8) > div > a > p {
  color: rgb(92, 92, 93);
}
#mid_Section > :nth-child(8) > div > a > span {
  color: rgb(0, 123, 255);
  font-size: 70px;
}
#mid_Section > :nth-child(8) > div > a > :nth-child(4) {
  font-size: 50px;
}
#mid_Section > :nth-child(9) {
  padding: 10px;
  margin-top: 10px;
  font-size: 25px;
  color: rgb(0, 123, 255);
}
#mid_Section > :nth-child(10) {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 22px;
}
#mid_Section > :nth-child(10) > div > img {
  width: 100%;
}
#mid_Section > :nth-child(11) {
    font-size: 23px; 
}
#mid_Section > :nth-child(12) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 15px;
  padding: 10px;
}
#mid_Section > :nth-child(12)>div {
    padding: 20px;
    height: 150px;
}
#mid_Section > :nth-child(12)>:nth-child(1) {
    background-color: rgb(11, 20, 77);
}
#mid_Section > :nth-child(12)>:nth-child(2) {
    background-color: rgb(177, 51, 29);
}
#mid_Section > :nth-child(12)>:nth-child(3) {
    background-color: rgb(76, 164, 131);
}

#mid_Section > :nth-child(13){
display: grid;
grid-template-columns: repeat(4,1fr);
margin-top: 12px;
}
#mid_Section > :nth-child(13)>div>img{
    width: 100%;
}
#bottom_section>:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
#bottom_section>:nth-child(1)>:nth-child(1){
    display: flex;
    align-items: flex-start;
    width: 40%;
    justify-content: space-around;
    padding: 12px;
    color: rgb(45, 44, 44);
}
#bottom_section>:nth-child(1)>:nth-child(1)>div>a{
    text-decoration: none;
    color: rgb(122, 119, 119);   
}
#bottom_section>:nth-child(1)>:nth-child(1)>div>a :hover{
    text-decoration: underline;
}
.link{
  display: flex;
  flex-direction: column;
 align-items: flex-start;
}

.services>:nth-child(1){
  padding: 50px;

}
.services>:nth-child(1)>div{
  display: flex;
  margin: 30px;
}
.button{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  
}
.button>img{
  width: 25px;
  height: 37px;
  
  
}
.searchbar{
  width: 352px;
  height: 40px;
  /* margin: 5px; */
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.logo>a>img{
  width: 35px;
}
.services>:nth-child(2)>:nth-child(1){
  display: flex;
margin-left: 250px;
}
.logo{
  padding: 3px;
  margin: 5px;
  border-radius: 30px;
  background-color: rgb(191, 191, 191);
}
.logo:hover{
  /* padding: 4px; */
  /* margin: 12px; */
  border-radius: 33px;
  background-color: rgb(0, 178, 248);
 
}
.services>:nth-child(2)>p{
  margin-left: 220px;
}

.links{
  display: flex;
margin-left: 320px;
}
.links>a{
  color: rgb(136, 135, 135);
  font-size: 10.7px;
  margin-left: 2px;

}
.links>a:hover{
  color: rgb(56, 56, 56);
}
#bottom_section>:nth-child(2){
  font-size: 12px;
  margin-top: 200px;
  border-bottom: 1px solid;
  padding-bottom: 35px;
  border-color: rgb(176, 176, 176);
  background-color: rgb(245, 245, 245);
}
#bottom_section>:nth-child(2)>:nth-child(1){
  margin-left: 1070px;
}
.about{
  margin: 12px;
  display: flex;
  flex-direction: column;
 align-items: flex-start;
 font-size: 11px;
}